<%= form_with(**Biovision::Components::BaseComponent.form_options(entity, :my)) do |f| %>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

  <dl class="fields">
    <%= render partial: 'components/comunit/forms/image', locals: { f: f} %>
    <%= render partial: 'shared/forms/text_field', locals: { f: f, field: :title } %>
    <%= render partial: 'shared/forms/text_area', locals: { f: f, field: :lead, options: {rows: 3} } %>
    <%=
      render(
        partial: 'shared/forms/text_area',
        locals: {
          f: f,
          field: :body,
          data: {
              wysiwyg: true,
              upload_url: '/'
          }
        }
      )
    %>
    <%= render partial: 'shared/forms/fields', locals: { f: f, fields: %w[publication_time source_name source_link] } %>
    <%= render partial: 'shared/forms/entity_flags', locals: { f: f } %>
    <%= render partial: 'shared/forms/meta_texts', locals: { f: f } %>
  </dl>

  <%= render 'shared/forms/state_container' %>

  <div class="buttons">
    <%= hidden_field_tag :entity_id, entity.id %>
    <%= f.button t(:save), class: 'button button-save' %>
  </div>
<% end %>

<%= render 'components/comunit/wysiwyg' %>
